{% load static %}
<!doctype html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Space Science Website Template</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
	<script src="{% static 'js/mobile.js'%}" type="text/javascript"></script>

</head>
<body>
	  {%  include 'header.html'%}
  <main class="container" style="padding-top:120px">

<!-- ===================== SERVICE DETAIL PAGE ===================== -->
<section class="service-detail-section">
  <div class="service-header">
    <h1>Architectural Plan</h1>
    <p>{{ service.description }}</p>
  </div>

  <!-- Image Gallery Grid -->
  <div class="service-gallery">
    <div class="gallery-item">
      <img src="{% static 'images/A-1.jpg' %}" alt="{{ service.title }}">
    </div>
    <div class="gallery-item">
      <img src="{% static 'images/A-2.jpg' %}" alt="{{ service.title }}">
    </div>
    <div class="gallery-item">
      <img src="{% static 'images/A-3.jpg' %}" alt="{{ service.title }}">
    </div>
    <div class="gallery-item">
      <img src="{% static 'images/A-4.jpg' %}" alt="{{ service.title }}">
    </div>
    <div class="gallery-item">
      <img src="{% static 'images/A-5.jpg' %}" alt="{{ service.title }}">
    </div>
    <div class="gallery-item">
      <img src="{% static 'images/A-6.jpg' %}" alt="{{ service.title }}">
    </div>
    <div class="gallery-item">
      <img src="{% static 'images/A-7.jpg' %}" alt="{{ service.title }}">
    </div>
    <div class="gallery-item">
      <img src="{% static 'images/A-8.jpg' %}" alt="{{ service.title }}">
    </div>
    <div class="gallery-item">
      <img src="{% static 'images/A-9.jpg' %}" alt="{{ service.title }}">
    </div>
    <!-- <div class="gallery-item">
      <img src="{% static 'images/A-10.jpg' %}" alt="{{ service.title }}">
    </div>
  </div>
  <div class="gallery-item">
      <img src="{% static 'images/A-11.jpg' %}" alt="{{ service.title }}">
    </div>
  </div>
  <div class="gallery-item">
      <img src="{% static 'images/A-12.jpg' %}" alt="{{ service.title }}">
    </div>
  </div> -->
</section>


    {% include 'footer.html'%}
   </main>

</body>
</html>